---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
    <h1>Se connecter</h1>
    <div>
        <img src="/assets/icones/logo" alt="Logo MMIA">
        <div>
            <h1>Connection</h1>
            <div>
                <label for="mail"></label>
            </div>
        </div>
    </div>
</Layout>