@import "tailwindcss";


@theme{
    /* typo */
    --font-poppins: 'Poppins', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;

    
        /* color */
     --blanc: #ffffff;
     --gris: #6a7273;
     --gris-anthracite: #313131;
     --noir: #000000;
     --violet: #985293;
     --blanc-casse: #ebeaec;
     --bleu-cyan: #15bfcb;
     --bleu-fonce: #000099;
     --vert-foret: #04464a;
      
        /* supertext */
     --supertext: 2.25rem;
}

body{
    @apply bg-[var(--blanc-casse)];
    @apply dark:bg-[var(--gris-anthracite)];
    @apply text-[var(--gris-anthracite)];
    @apply dark:text-[var(--blanc)];
    @apply font-jakarta;
    @apply text-base;
    @apply lg:text-3xl
}

h1{
    @apply font-poppins;
}

h2{
    @apply font-poppins;
    @apply text-xl
}


:root {
    --blanc-casse: #f8f9fa;
    --gris-anthracite: #2c2c2c;
    --blanc: #ffffff;
    --noir: #000000;
}

/* Variables pour le mode sombre */
.dark {
    --blanc-casse: #2c2c2c;
    --gris-anthracite: #f8f9fa;
    --blanc: #000000;
    --noir: #ffffff;
}