---
import Layout from "../../layouts/Layout.astro";
// import Chat from "../../icon-chat.svg";
// import Phone from "../..icon-phone.svg";
// import Mail from "../..icon-mail.svg";
---
<Layout>
    <h1>Contactez <br> Nous !</h1>
    <h2>Nous sommes disponible 7 jours /7 par mail et par chat, cependant 5jours /7 par téléphone.</h2>
    <div>
        
            <a href="/">
                <img src="/src/assets/icones/icon-phone.svg" alt="">
            </a>
            <h2>Par Téléphone</h2>
            <p>Appelez-nous au +33 01 55 60 36 41</p>
        
    </div>
    <div>
        
            <a href="">
                <img src="/src/assets/icones/icon-chat.svg" alt="">
            </a>
            <h2>Par le Forum</h2>
            <p>Disposez d’informations directement sur le site !</p>
        
    </div>
    <div>
        
            <a href="">
                <img src="/src/assets/icones/icon-phone.svg" alt="">
            </a>
            <h2>Par Mail</h2>
            <p>Écrivez-nous à l’addresse suivante :m-iacontact@gmail.com</p>
        
    </div>
</Layout>