---
import Layout from "../../layouts/Layout.astro";
// import Chat from "../../icon-chat.svg";
// import Phone from "../..icon-phone.svg";
// import Mail from "../..icon-mail.svg";
---
<Layout>
    <h1 class="text-center text-6xl font-medium my-8">Contactez <br> Nous !</h1>
    <h2 class="text-center mb-16">Nous sommes disponible 7 jours /7 par mail et par chat, cependant 5jours /7 par téléphone.</h2>
    <div class="*:justify-items-center *:pb-11 *:pt-11 *:border-b-2 *:border-[var(--violet)] lg:flex lg:*:border-0 lg:border-y-2 lg:border-[var(--violet)] lg:justify-evenly">
        <div class="border-t-2 border-[var(--violet)]">
                <a href="/">
                    <img src="/src/assets/icones/icon-phone.svg" alt="">
                </a>
                <p class="font-bold font-poppins text-2xl lg:text-4xl lg:my-10">Par Téléphone</p>
                <p>Appelez-nous au +33 01 55 60 36 41</p>
        </div>
        <div class="*:my-3.5">
                <a href="">
                    <img src="/src/assets/icones/icon-chat.svg" alt="">
                </a>
                <p class="font-bold font-poppins text-2xl lg:text-4xl lg:my-10">Par le Forum</p>
                <p>Disposez d’informations directement sur le site !</p>
        </div>
        <div class="*:my-3.5">
                <a href="">
                    <img src="/src/assets/icones/icon-phone.svg" alt="">
                </a>
                <p class="font-bold font-poppins text-2xl lg:text-4xl lg:my-10">Par Mail</p>
                <p>Écrivez-nous à l’addresse suivante :</p>
                <p>m-iacontact@gmail.com</p>
        </div>
    </div>
</Layout>