---
import Layout from "../layouts/Layout.astro";
import MMIA from "../assets/icones/logo.svg";
import Fleche from "../assets/icones/fleche.svg";
import Paperclip from "../assets/icones/paperclip.svg";
---

<Layout>
  <main>
    <div
      class="hidden lg:flex banner h-screen flex-col justify-center items-center gap-5 text-center "
    >
      <canvas
        id="dotsCanvas"
        class="absolute w-full h-full top-0 bottom-0 pointer-events-none"
      ></canvas>
      
      <div class="z-10">
        <h1 class="flex p-4 font-bold">
          Du mal en<span class="text-[var(--violet)]"> MMI </span> ?
        </h1>
        <span class="flex"> <p><MMIA class="inline-block" /> est là</p></span>

        <a class="text-white flex bg-[var(--blanc-casse)] z-10" href="/"
          >Commencez maintenant ! <Fleche />
        </a>
      </div>
      </div>

      <div
        class="bg-[var(--blanc-casse)] justify-center m-6 h-20 w-250 rounded-2xl items-center"
      >
        <p class="text-[var(--gris-anthracite)] flex items-center text-3xl ">
          <Paperclip />Qu’apportons nous de plus que certaines IA génératives ?|
        </p>
      </div>

      

      <div class="">
        <div class="flex flex-col">
          <p class="text-5xl m-8">Une révolution de l'éducation !</p>
          <div class="items-center lg:flex flex-row items-center m-4">
            <img
              class=" rounded-3xl bg-[var(--blanc-casse)] lg:h-160 w-200 border-7"
              src="/src/assets/images/accueil1.webp"
              alt=""
            />
            <p class="text-center">
              Grâce à notre IA spécialisée dans les cours de MMI, entrez dans un
              nouveau monde !
            </p>
          </div>
          <div class="flex justify-center">
            <button
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >À vos prompts !</button
            >
          </div>
        </div>

        <div class="flex flex-col">
          <p>Une communauté solidaire !</p>
          <div class=" items-center lg:flex flex-row-reverse items-center m-4">
            <img
              class="h-160 w-200 border-7 rounded-3xl bg-[var(--blanc-casse)]"
              src="/src/assets/images/accueil2.webp"
              alt=""
            />
            <p class="text-center">
              Découvrez toute une communauté solidaire constituée d’étudiants en
              MMI de tout niveau !
            </p>
          </div>
          <div class="flex justify-center">
            <button
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >Au forum !</button
            >
          </div>
        </div>
        <div class="flex flex-col">
          <p>Une manière de travailler ludique !</p>
          <div class="items-center lg:flex flex-row items-center m-4">
            <img
              class="h-160 w-200 border-7 rounded-3xl bg-[var(--blanc-casse)]"
              src="/src/assets/images/accueil3.webp"
              alt=""
            />
            <p class="text-center">
              Apprenez à travailler au mieux en MMI grâce à MMIA
            </p>
          </div>
          <div class="flex justify-center">
            <a href=""
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >J'y vais !</a>
            
          </div>
        </div>
      </div>

      <div class="bg-[var(--blanc-casse)]  ">
        <p class="text-center text-[var(--gris-anthracite)] font-bold text-4xl m-5">Nos tarifs</p>
        <div class="flex gap-30 justify-center items-center mx-6 ">
        <div class="bg-[var(--gris-anthracite)] p-14 rounded-2xl h-150 w-100 flex flex-col my-10">
  <div class="pb-4">
    <p class="text-white pb-2 font-bold text-center">Basique</p>
    <p class="text-[var(--gris-anthracite)] text-center bg-[var(--blanc-casse)] rounded-4xl pt-2 pb-2">0€/ mois</p>
  </div>
  <ul class="pt-3 mb-6 justify-center pl-3 flex-grow">
    <li class="text-white mb-10">Accès à l'IA</li>
    <li class="text-white mb-10">Forum en ligne</li>
    <li class="text-white mb-10">Prompts limités</li>
  </ul>
  <a href="" class="bg-[var(--gris)] border-[var(--gris)] border-10 rounded-2xl text-center font-semibold pl-2 pr-2 block">En profiter</a> 
</div>
        <div class="bg-[var(--gris-anthracite)] p-14 rounded-2xl h-150 w-100 flex flex-col">
  <div class="pb-4">
    <p class="text-[var(--violet)] pb-2 font-bold text-center">Premium</p>
    <p class="text-[var(--gris-anthracite)] text-center bg-[var(--blanc-casse)] rounded-4xl pt-2 pb-2">10€/ mois</p>
  </div>
  <ul class="pt-3 mb-6 justify-center pl-3 flex-grow">
    <li class="text-white mb-10">Plus de prompts disponibles</li>
    <li class="text-white mb-10">Personnalisation plus complète</li>
    <li class="text-white mb-10">Et plus encore</li>
  </ul>
  <a href="" class="bg-[var(--violet)] border-[var(--violet)] border-10 rounded-2xl text-center font-semibold pl-2 pr-2 block">En profiter</a> 
</div>
        <div class="bg-[var(--gris-anthracite)] p-14 rounded-2xl h-150 w-100 flex flex-col">
  <div class="pb-4">
    <p class="text-white pb-2 font-bold text-center">Entreprise</p>
    <p class="text-[var(--gris-anthracite)] text-center bg-[var(--blanc-casse)] rounded-4xl pt-2 pb-2">Tarif modulable
</p>
  </div>
  <ul class="pt-3 mb-6 justify-center pl-3 flex-grow">
    <li class="text-white mb-10">Tous les avantages du premium</li>
    <li class="text-white mb-10">tarif de groupe</li>
  </ul>
  <a href="" class="bg-[var(--gris)] border-[var(--gris)] border-10 rounded-2xl text-center font-semibold pl-2 pr-2 block">En profiter</a> 
</div>
        </div>
      </div>

      <div></div>
    

    <script src="../../script/app.js"></script>
  </main>
</Layout>
