---
import Layout from "../layouts/Layout.astro";
import MMIA from "../assets/icones/logo.svg";
import Fleche from "../assets/icones/fleche.svg";
import Paperclip from "../assets/icones/paperclip.svg";
---

<Layout>
  <main>
    <div
      class="hidden lg:flex banner h-screen flex-col justify-center items-center gap-5 text-center"
    >
      <canvas
        id="dotsCanvas"
        class="absolute w-full h-full top-0 bottom-0 pointer-events-none"
      ></canvas>
      <div class="z-10">
        <h1 class="flex p-4 font-bold">
          Du mal en<span class="text-[var(--violet)]"> MMI </span> ?
        </h1>
        <span class="flex"> <p><MMIA class="inline-block" /> est là</p></span>

        <a class="text-white flex bg-[var(--blanc-casse)] z-10" href="/"
          >Commencez maintenant ! <Fleche />
        </a>
      </div>

      <div
        class="bg-[var(--gris-anthracite)] justify-center m-6 h-20 w-250 rounded-2xl"
      >
        <p class="text-white flex items-center text-3xl">
          <Paperclip />Qu’apportons nous de plus que certaines IA génératives ?|
        </p>
      </div>

      <div class="">
        <div class="flex flex-col">
          <p class="text-5xl m-8">Une révolution de l'éducation !</p>
          <div class="items-center lg:flex flex-row items-center m-4">
            <img
              class="h-160 w-200 border-7 rounded-3xl bg-[var(--blanc-casse)]"
              src="/src/assets/images/accueil1.webp"
              alt=""
            />
            <p class="text-center">
              Grâce à notre IA spécialisée dans les cours de MMI, entrez dans un
              nouveau monde !
            </p>
          </div>
          <div class="flex justify-center">
            <button
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >À vos prompts !</button
            >
          </div>
        </div>

        <div class="flex flex-col">
          <p>Une communauté solidaire !</p>
          <div class="flex flex-row-reverse items-center m-4">
            <img
              class="h-160 w-200 border-7 rounded-3xl bg-[var(--blanc-casse)]"
              src="/src/assets/images/accueil2.webp"
              alt=""
            />
            <p class="text-center">
              Découvrez toute une communauté solidaire constituée d’étudiants en
              MMI de tout niveau !
            </p>
          </div>
          <div class="flex justify-center">
            <button
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >Au forum !</button
            >
          </div>
        </div>
        <div class="flex flex-col">
          <p>Une manière de travailler ludique !</p>
          <div class="flex flex-row items-center m-4">
            <img
              class="h-160 w-200 border-7 rounded-3xl bg-[var(--blanc-casse)]"
              src="/src/assets/images/accueil3.webp"
              alt=""
            />
            <p class="text-center">
              Apprenez à travailler au mieux en MMI grâce à MMIA
            </p>
          </div>
          <div class="flex justify-center">
            <button
              class="text-white bg-[var(--violet)] m-5 rounded-2xl border-10 border-[var(--violet)] text-xl font-bold"
              >J'y vais !</button
            >
          </div>
        </div>
      </div>

      <div class="bg-[var(--gris-anthracite)]">
        <p>Nos tarifs</p>
        <div class="bg-[var(--blanc-casse)]">
          <p>Basique</p>
          <p>0€/ mois</p>
          <ul>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
          </ul>
          <button>En profiter</button>
        </div>
        <div class="bg-[var(--blanc-casse)]">
          <p class="text-[var(--violet)]">Premium</p>
          <p>10€/ mois</p>
          <ul>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
          </ul>
          <button>En profiter</button>
        </div>
        <div class="bg-[var(--blanc-casse)]">
          <p>Entreprise</p>
          <p>0€/ mois</p>
          <ul>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
            <li>avantage</li>
          </ul>
          <button>En profiter</button>
        </div>
      </div>

      <div></div>
    </div>

    <script src="../../script/app.js"></script>
  </main>
</Layout>
