---
const {...post} = Astro.props;
---

<a href={`/forum/${post.id}`} class="block">
    <article class="w-[393px] h-[342px] bg-[var(--blanc-casse)] dark:bg-[var(--gris-anthracite)] rounded-2xl mx-12 p-6 flex flex-col justify-between text-[var(--gris-anthracite)] dark:text-[var(--blanc-casse)] shadow-lg border-4 border-[var(--violet)] dark:border-[var(--violet)] transition-all duration-200 ease-in-out hover:-translate-y-1 hover:shadow-xl">
        <header class="text-center">
            <h2 class="text-2xl font-bold m-0 leading-tight">{post.Titre}</h2>
        </header>
        
        <main class="flex-1 flex items-center justify-center">
            <div class="text-center">
                <span class="text-3xl font-bold font-['Poppins'] text-[var(--violet)]">{post.Specialite}</span>
            </div>
        </main>
        
        <footer class="mt-auto">
            <div class="flex justify-between items-center">
                <span class="text-2xl text-[var(--gris-anthracite)] dark:text-[var(--blanc-casse)]">{post.Nb_Fav} réponses</span>
                <span class="text-2xl text-red-500">♥</span>
            </div>
        </footer>
    </article>
</a>
