<footer class="lg:flex justify-between place-content-center items-center bg-red-800 *:mt-5 mt-44">
    <div class="justify-items-center">
        <img src="" alt="Logo MMIA" >
    </div>
    <div class="grid grid-cols-2 justify-items-center">
        <div>
            <p class="font-bold">À propos</p>
            <ul>
                <li><a>Mentions légales</a></li>
                <li><a>Qui sommes nous ?</a></li>
                <li><a>Nous contacter</a></li>
            </ul>
        </div>
        <div>
            <p class="font-bold">Navigation</p>
            <ul>
                <li><a href="/Forum">Forum</a></li>
                <li><a href="/forum">Parler à l'IA</a></li>
                <li><a href="/Profil">Profil</a></li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="flex gap-4 place-content-center">
            <li><a href="www.instagram.com"><img src="" alt="logo instagram"></a></li>
            <li><a href="www.twitter.com"><img src="" alt="logo twitter"></a></li>
            <li><a href="www.linkedin.com"><img src="" alt="logo linkedin"></a></li>
            <li><a href="www.whatsapp.com"><img src="" alt="logo whatsapp"></a></li>
        </ul>
    </div>
</footer>