---
import MMIA from "../assets/icones/mmi-white.svg";
import Insta from "../assets/icones/Insta.svg"
import Twitter from "../assets/icones/twitter.svg"
import Linkedin from "../assets/icones/linkedin.svg"
import Whatsap from "../assets/icones/whatsap.svg"

---
<footer class="lg:flex justify-between place-content-center items-center bg-[var(--blanc-casse)] dark:bg-[var(--gris-anthracite)] text-[var(--gris-anthracite)] dark:text-[var(--blanc-casse)] *:mt-5 mt-44">
    <div class="justify-items-center">
        <MMIA/>
    </div>
    <div class="grid grid-cols-2 justify-items-center mb-24 mt-12">
        <div>
            <p class="font-bold text-[var(--violet)] text-xl lg:text-4xl">À propos</p>
            <ul class="*:my-1 mt-1.5">
                <li><a>Mentions légales</a></li>
                <li><a>Qui sommes nous ?</a></li>
                <li><a>Nous contacter</a></li>
            </ul>
        </div>
        <div>
            <p class="font-bold text-[var(--violet)] text-xl lg:text-4xl">Navigation</p>
            <ul class="*:my-1 mt-1.5">
                <li><a href="/Forum">Forum</a></li>
                <li><a href="/forum">Parler à l'IA</a></li>
                <li><a href="/Profil">Profil</a></li>
            </ul>
        </div>
    </div>
    <span class="flex justify-center w-full">
        <hr class="w-4/5 border-[var(--violet)] border-t-2">
    </span>
    <div class=" px-11">
        <ul class="flex gap-4 place-content-center">
            <li><a href="www.instagram.com"> <Twitter/></a></li>
            <li><a href="www.twitter.com"><Insta/></a></li>
            <li><a href="www.linkedin.com"><Linkedin/></a></li>
            <li><a href="www.whatsapp.com"><Whatsap/></a></li>
        </ul>
    </div>
</footer>