---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1>Mention Légales</h1>

    <div>
    <h2>Éditeur du site</h2>
     
    <p> Le site M&IA est édité à titre personnel par Darle-Felbaq Paul et Becquelin Jules, joignable à l'adresse e-mail suivante : jules.becquelin@edu.univ-fcomte.fr  et  
        paul.darle-felbacq@edu.univ-fcomte.fr</p>
    </div> 
    
    <div>
        <h2>Hébergement</h2>
        <p>Le site est hébergé par Apache, situé à VPS microsoft</p>
    </div>
    <div>
        <h2>Objet du site</h2>
        <p>Le site propose aux étudiants du BUT MMI une intelligence artificielle générative basée sur l'API de ChatGPT et contenant des informations relatives au programme de formation MMI. Le site propose également un forum d'échange entre utilisateurs et un système d'abonnement permettant d'accéder à certaines fonctionnalités avancées.</p>
    </div>
    <div>
        <h2>Propriété intellectuelle</h2>
        <p>L'ensemble du contenu du site  est protégé par les lois en vigueur en matière de propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l'éditeur.</p>
    </div>
    <div>
        <h2>Responsabilité</h2>
        <p>L'éditeur du site ne saurait être tenu responsable des erreurs ou omissions dans les informations diffusées, ni des dommages directs ou indirects pouvant résulter de l'utilisation du site. Les échanges sur le forum sont sous la responsabilité des utilisateurs. Tout contenu illégal ou non conforme aux conditions d'utilisation pourra être supprimé par les modérateurs.</p>
    </div>
    <div>
        <h2> Protection des données personnelles</h2>
        <p>Les données personnelles collectées sur le site (nom, email, identifiants de connexion, informations de paiement pour les abonnements) sont traitées conformément au Règlement Général sur la Protection des Données (RGPD). Les utilisateurs disposent d'un droit d'accès, de rectification et de suppression de leurs données personnelles en contactant l'éditeur à jules.becquelin@edu.univ-fcomte.fr  et  
            paul.darle-felbacq@edu.univ-fcomte.fr</p>
    </div>
    <div>
        <h2>Cookies</h2>
        <p>Le site utilise des cookies pour améliorer l'expérience utilisateur. L'utilisateur peut configurer son navigateur pour refuser ces cookies.</p>
    </div>
    <div>
        <h2>Conditions d'abonnement</h2>
        <p>L'accès à certaines fonctionnalités avancées du site est soumis à un abonnement payant. Les modalités d'abonnement, de paiement et de résiliation sont détaillées dans les Conditions Générales d'Utilisation (CGU). Toute souscription implique l'acceptation de ces conditions. <br> Droit applicable et juridiction compétente Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du domicile de l'éditeur.</p>
    </div>

    <h2>Dernière mise à jour : 03/03/2025.</h2>
</Layout>